<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://code.jquery.com/jquery.min.js" type="application/javascript"></script>
	<script src="/javascripts/tablesorter.min.js" type="application/javascript"></script>
	<script src="/javascripts/hud.js" type="application/javascript"></script>
	<script src="/javascripts/json2.js" type="application/javascript"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
